.composant-edit-form {
display: flex;
flex-direction: column;
gap: 20px;
margin-bottom:40px;
}

.edit-titre {
text-align: center;
font-weight: 500;
font-size: 23px;
margin: 0;
}

.edit-input-form {
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.input-form {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
transform: translateX(3%);
}

.input-form label {
    font-size: 13px;
}

.button-form {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

.button-form button {
    border: none;
    background-color: rgb(25, 148, 107);
    padding: 8px 40px;
    color: white;
    position: relative;
    top:15px;

}


